<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img
			src="assets/ps-logo.png"
			alt="playstation logo"
			srcset=""
			width="140px"
			height="32px"
		>
	</div>
	<div class="menu-bar__item">
		<ul>
			<li><a href="https://www.playstation.com/pt-br/?emcid=pa-co-473092&gclid=CjwKCAjw7c2pBhAZEiwA88pOFwkHbanCIRQqPW8a45kSrhxf5U3F3uFC-jxG0w1gExUv4S4ibeozfBoC1zUQAvD_BwE" target="_blank">SITE PLAYSTATION</a></li>
			<li><a href="https://www.linkedin.com/in/georgia-rocha-dev/" target="_blank">LINKEDIN</a></li>
			<li><a href="https://github.com/georgia-rocha" target="_blank">GITHUB</a></li>
		</ul>
	</div>
</div>
